@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-500 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.rubik-700 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: var(--Very-light-gray);
}

main {
  display: grid;
  height: 100%;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  place-content: safe center;
  margin-inline: 0.5rem;
  margin-block-start: 1.3rem;
}
.comment-container {
  background-color: var(--White);
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content;
  /* Mobile */
  padding-block: 1rem;
  padding-inline: 1rem;

  padding-inline-start: 1rem;

  border-radius: 0.5rem;

  margin-block-end: 1rem;
}
.username-container {
  grid-row: 1;
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  width: max-content;
  padding-block-end: 1rem;
}
.username {
  color: var(--Dark-blue);
}
.createdAt {
  color: var(--Grayish-Blue);
}

.content {
  color: var(--Grayish-Blue);
  padding-block-end: 0.9rem;
  /* min-width: 30ch; */
  /* max-width: 30ch; */
  width: 29.5ch;
  grid-row: 2;

  /* grid-column: 1 / -1; */
  /* display: flex;
  flex-direction: column; */
}

p {
  margin-block: 0;
  margin-inline: 0;
}

.score-container {
  grid-row: 3;
  grid-column: 1;
  display: flex;
  align-items: center;
  background-color: var(--Light-gray);
  width: max-content;
  gap: 1rem;
  padding-block: 0.5rem;

  width: 9.5ch;
  justify-content: center;
  border-radius: 0.7rem;
}

.score {
  color: var(--Moderate-blue);
}
.profile-img {
  width: 2.1rem;
}
.reply-container {
  grid-row: 3;
  grid-column: 1;
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  color: var(--Moderate-blue);
}
.replyingTo {
  color: var(--Moderate-blue);
}

.replies {
  padding: 0;

  list-style: none;
  border-left: 3px solid var(--Light-gray);
}
.reply > .comment-container {
  margin-inline-start: 1rem;
}

.reply > .comment-container > .content {
  width: 28ch;
}
.you {
  background-color: var(--Moderate-blue);
  color: var(--White);
  font-size: 0.8rem;
  margin-inline-start: 0.2rem;
  padding-inline: 0.4rem;
  padding-block: 0.1rem;
  text-align: center;
}
